.mind-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #5c6664;
    padding: 20px;
    background: url('../images/mindpage-bg.jpg') center/cover no-repeat;
  }