

/* Path: src/App.css */
.App {
  
}

.progress-image{
  position: relative;
  height: 100vh;
}

.mind-image{
  position: relative;
  height: 100vh;
}

.body-image {
position: relative;
height: 100vh;
}


.mind-image{
  position: relative;
  height: 100vh;
}
