.App 

body{
  background:linear-gradient(to left, rgb(98, 0, 128), rgb(2, 1, 1));
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:white;
}

.container{
  display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100%;
}
  .form-box{
      width:300px;
      height:200px;
      background: rgba(7, 6, 6, 0.16);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.697);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(8, 9, 13, 0.888);
      padding:20px;
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      opacity:0.5;
      border-radius:2%;
  }
.header-form{
  margin-bottom:15px;
}
button{
  margin-top:50px;
  margin-bottom:50px;
}
.message{
  display:flex;
  justify-content:space-between
}
.social{
  display:flex;
  justify-content:space-around;
  padding:30px;
}

.social i{
  font-size:35px;
}

.social i:hover{
  color:red;
  cursor:pointer;
}


.progress-image{
  position: flex;
  height: 100vh;
}

.mind-image{
  position: flex;
  height: 100vh;
}

.mind-container {
  position: flex;
  width: 100%;
  max-width: 400px;
}

.mind-card {
  position: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.mind-content {
  position: flex;
  z-index: 1;
}

.body-image {
position: flex;
height: 100vh;
}

.yoga-container {
  position: flex;
  width: 100%;
  max-width: 400px;
}

.yoga-card{
  position: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.yoga-content {
  position: flex;
  z-index: 1;
}

.workout-container {
  position: flex;
  width: 100%;
  max-width: 400px;
}

.workout-card {
  position: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.workout-content {
  position: flex;
  z-index: 1;
}

.connection-image {
  position: flex;
  height: 100vh;
}

#mood-form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-form {
  display: flex;
  flex-direction: column;
}

.graph-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}